<div class="context-menu" *ngIf="isVisible" [style.top.px]="position.y" [style.left.px]="position.x">
    <ul>
        <ng-container *ngFor="let item of viewerMenuItems">
            <li (click)="item.subItems ? undefined : itemSelected(item)" [style.color]="item.disabled ? '#bdbdbd' : ''"
                *ngIf="!item.subItems">
                {{ item.label }}
            </li>
            <li *ngIf="item.subItems">
                {{ item.label }} >
                <ul class="submenu">
                    <li *ngFor="let subItem of item.subItems" (click)="itemSelected(subItem)"
                        [style.color]="item.disabled ? '#bdbdbd' : ''">
                        {{ subItem.label }}
                    </li>
                </ul>
            </li>
        </ng-container>
    </ul>
</div>