<div (click)="onClick($event)" (contextmenu)="onContextMenu($event)" class="gameobject-row" [id]="gameObject?.uuid"
    [style.padding-left]="isRoot ? '0px' : '16px'">
    <div class="gameobject-title" #title 
        (dragstart)="handleDragStart($event, gameObject);"
        (dragover)="handleDragOver($event, gameObject);" 
        (dragend)="handleDragEnd($event, gameObject);"
        (drop)="handleDrop($event, gameObject);" 
        draggable="true" 
        [ngClass]="getStyle(gameObject)"
        [class.selected]="isSelected">

        <div *ngIf="gameObject?.childrenGameObjects.length === 0" class="icon-placeholder">
        </div>
        
        <button *ngIf="gameObject?.childrenGameObjects.length > 0"
               type="button"
               mat-icon-button
               (click)="toggleChildren(); $event.stopPropagation()"
               class="expand-button">
            <mat-icon class="mat-icon-rtl-mirror">
                {{showChildren ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>

        <span class="gameobject-name"> {{ gameObject?.name || gameObject?.type }}</span>
    </div>

    <div *ngIf="showChildren" class="children-container">
        <app-game-object *ngFor="let child of gameObject?.childrenGameObjects" [gameObject]="child"></app-game-object>
    </div>
</div>