.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 400px;
    max-width: 30%;
    background-color: #292929;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 1px solid #000000;
    height: 100%;
    transition: width 0.5s;
}

.sidebar>h4 {
    padding: 10px;
    background-color: #292929;
}

.editor {
    display: flex;
    height: 100%;
}

.canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
}

button {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #888888;
    cursor: pointer;
    color: #ffffff;
}

canvas {
    max-width: 100%;
    height: 100%;
}

.transform-title {
    border-bottom: 2px solid #7b7b7b;
    padding: 5px;
    color: #b1b1b1;
    font-size: 12px;
}

.transform-container {
    margin: 0px;
    padding: 10px 5px;
}

.transform-row {
    display: flex;
    gap: 5px;
    align-items: stretch;
    padding: 5px 5px;
}

.transform-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 5px;
}

.flex-1-1-0 {
    flex: 1 1 0px;
}

.input {
    background: #373737;
    color: white;
    text-align: center;
    border: 1px solid #7b7b7b;
    flex: 0 1 60px;
    margin: 0 0 0 auto;
}