<div class="container">
    <app-toolbar></app-toolbar>
    <div class="editor">
        <div class="sidebar sidebar-left">
            <h4>Scene Hierarchy</h4>
            <!-- <app-draggable-tree></app-draggable-tree> -->
            <app-game-objects-draggable></app-game-objects-draggable>
        </div>
        <div #viewer class="canvas-container">

        </div>
        <div class="sidebar sidebar-right sidebar-gap" cdkDropList>
            <h4>{{objectSelected?.name}}</h4>
            <!-- move to component -->
            <div class="transform-container transform-col" *ngIf="objectSelected">
                <div class="transform-row">
                    <div class="transform-title flex-1-1-0" >Location</div>
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.position.x" >
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.position.y" >
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.position.z" >
                </div>
                <div class="transform-row">
                    <div class="transform-title flex-1-1-0" >Rotation</div>
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.rotation.x" >
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.rotation.y" >
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.rotation.z" >
                </div>
                <div class="transform-row">
                    <div class="transform-title flex-1-1-0" >Scale</div>
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.scale.x" >
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.scale.y" >
                    <input step="0.5" class="flex-1-1-0 input" type="number" [(ngModel)]="objectSelected.scale.z" >
                </div>
            </div>
            <!-------------------->
            <app-component *ngFor="let child of objectSelected?.components" [component]="child"></app-component>
        </div>
    </div>
    <app-context-menu #contextMenu></app-context-menu>
</div>