.container {
    margin: 0px;
    padding: 10px 5px;
    background: #515050;
}

.title {
    border-bottom: 2px solid #7b7b7b;
    border-right: 2px solid #7b7b7b;
    padding: 5px;
    color: #b1b1b1;
    cursor: move;
    background: #292929;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 5px;
    font-size: 14px;
}

.row {
    display: flex;
    gap: 5px;
    align-items: stretch;
    padding: 5px 5px;
    font-size: 14px;
}

span {
    display: inline-flex;
    align-items: center;
}

.flex-1-1-0 {
    flex: 1 1 0px;
}

.input {
    background: #373737;
    color: white;
    text-align: center;
    border: 1px solid #7b7b7b;
    flex: 0 1 100px;
    margin: 0 0 0 auto;
}

.color {
    border: none;
    background: none;
}