<mat-expansion-panel class="component-panel" [expanded]="attributes.length > 0" (contextmenu)="onContextMenu($event)">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon>extension</mat-icon>
      <span>{{component.name}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  
  <div class="component-properties">
    <ng-container *ngFor="let property of attributes">
      <div class="property-item" [ngClass]="{'property-array': property.type === 'array'}">
        <!-- Etiqueta de la propiedad -->
        <div class="property-name">{{property.name}}</div>
        
        <!-- Input para string -->
        <mat-form-field *ngIf="property.type === 'string'" appearance="outline" class="property-field">
          <input matInput 
                 [ngModel]="property.value" 
                 (ngModelChange)="onPropertyChange($event, property)">
        </mat-form-field>
        
        <!-- Input para number -->
        <mat-form-field *ngIf="property.type === 'number'" appearance="outline" class="property-field">
          <input matInput 
                 type="number" 
                 step="0.1" 
                 [ngModel]="property.value" 
                 (ngModelChange)="onPropertyChange($event, property)">
        </mat-form-field>
        
        <!-- Checkbox para boolean -->
        <mat-checkbox *ngIf="property.type === 'boolean'" 
                     [checked]="property.value" 
                     (change)="onPropertyChange($event.checked, property)"
                     class="property-checkbox">
        </mat-checkbox>
        
        <!-- Color picker para color -->
        <div *ngIf="property.type === 'color'" class="color-property">
          <input type="color" 
                 [ngModel]="property.value" 
                 (ngModelChange)="onPropertyChange($event, property)"
                 class="color-picker">
          <mat-form-field appearance="outline" class="property-field">
            <input matInput 
                   [ngModel]="property.value" 
                   (ngModelChange)="onPropertyChange($event, property)">
          </mat-form-field>
        </div>
        
        <!-- Material selector para material -->
        <app-material-input *ngIf="property.type === 'material'"
                           [label]="property.name"
                           [value]="property.value?.toString() || ''"
                           (valueChange)="onPropertyChange($event, property)"
                           class="material-input">
        </app-material-input>
      </div>
    </ng-container>
    
    <!-- Mensaje cuando no hay propiedades -->
    <div *ngIf="attributes.length === 0" class="no-properties-message">
      Este componente no tiene propiedades editables.
    </div>
  </div>
</mat-expansion-panel>