<!-- Hidden preview canvas for rendering -->
<canvas #previewCanvas style="display: none; position: absolute; pointer-events: none;"></canvas>

<div class="resource-explorer">
  <!-- Toolbar -->
  <div class="toolbar">
    <button mat-icon-button (click)="createFolder(selectedFolder)" matTooltip="New Folder">
      <mat-icon>create_new_folder</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="addMenu" matTooltip="Add Resource">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleViewMode()" [matTooltip]="viewMode === 'list' ? 'Switch to Icons View' : 'Switch to List View'">
      <mat-icon>{{ viewMode === 'list' ? 'grid_view' : 'list' }}</mat-icon>
    </button>
  </div>

  <!-- Add Resource Menu -->
  <mat-menu #addMenu="matMenu">
    <button mat-menu-item (click)="onAddTexture()">
      <mat-icon>texture</mat-icon>
      <span>Add Texture</span>
    </button>
    <button mat-menu-item (click)="onAddMaterial()">
      <mat-icon>format_paint</mat-icon>
      <span>Add Material</span>
    </button>
    <button mat-menu-item>
      <mat-icon>3d_rotation</mat-icon>
      <span>Add Model</span>
    </button>
  </mat-menu>

  <!-- Resource Tree -->
  <div class="resource-tree" [class.icon-view]="viewMode === 'icons'">
    <ng-container *ngFor="let folder of rootFolders">
      <!-- List View -->
      <ng-container *ngIf="viewMode === 'list'">
        <app-list-view
          [folder]="folder"
          [selectedItems]="selectedItems"
          [selectedFolder]="selectedFolder"
          (itemClick)="onItemClick($event.item, $event.event)"
          (itemContextMenu)="onItemContextMenu($event.event, $event.item)"
          (itemDragStart)="onItemDragStart($event.event, $event.item)"
          (folderClick)="onFolderClick($event.folder)"
          (itemDrop)="onItemDrop($event.event, $event.folder)">
        </app-list-view>
      </ng-container>

      <!-- Icon View -->
      <ng-container *ngIf="viewMode === 'icons'">
        <app-icon-view
          [folder]="folder"
          [selectedItems]="selectedItems"
          [selectedFolder]="selectedFolder"
          (itemClick)="onItemClick($event.item, $event.event)"
          (itemContextMenu)="onItemContextMenu($event.event, $event.item)"
          (itemDragStart)="onItemDragStart($event.event, $event.item)"
          (folderClick)="onFolderClick($event.folder)"
          (itemDrop)="onItemDrop($event.event, $event.folder)"
          (navigateBack)="navigateToParentFolder()">
        </app-icon-view>
      </ng-container>
    </ng-container>
  </div>
</div> 