*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    min-width: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #f7f7f7;
}

::-webkit-scrollbar-thumb {
    background-color: #6c6c6c;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100svh;
    padding: 0px;
    margin: 0px;
    overflow: hidden auto;
}

body,
html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1;
    padding: 0px;
    margin: 0px;
    color: #1a1a1a;
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}

#ARButton {
    border: 1px solid gray !important;
    color: black !important;
}